<div class="container-fluid text-center" ng-controller="ContactCtrl">
	<div class="container">

		<div class="row">
			<div class="page-header lead bg bg-orange">
				<h1> Contact </h1>
			</div><!-- class page-header -->
		</div><!-- class row -->

		<div class="row">
			<div class="jumbotron sectionsContent">
				
				<div ng-show="section == 0" class="media">
					<h1 class="text-center contentHeader"> Muriel Guillet </h1>

					<div class="col-md-7 col-xs-12 noPadding address">
						<div class="media-body text-left">

							<!-- Large, Medium & Small Screens -->
							<div class="col-sm-6 side-border hidden-xs">
								<address>
									<strong> AREVIA FRANCE </strong>
									<p> 10/12 Bd Vivier Merle 69393 </p>
									<p> Lyon cedex 03 </p>
									<p><abbr title="Téléphone">Tel :</abbr> +33(0)6 08 43 48 41 </p>
									<p><abbr title="E-mail">@ :</abbr><a href="mailto:arevia@orange.fr"> arevia@orange.fr </a></p>
								</address>
							</div><!-- class col-sm-6 side-border hidden-xs -->

							<!-- XSmall Screens -->
							<div class="col-xs-12 text-center visible-xs">
								<address>
									<strong> AREVIA FRANCE </strong>
									<p> 10/12 Bd Vivier Merle 69393 </p>
									<p> Lyon cedex 03 </p>
									<p><abbr title="Téléphone">Tel :</abbr> +33(0)6 08 43 48 41 </p>
									<p><abbr title="E-mail">@ :</abbr><a href="mailto:arevia@orange.fr"> arevia@orange.fr </a></p>
								</address>
							</div><!-- class col-xs-12 text-center visible-xs -->

							<!-- Large, Medium & Small Screens -->
							<div class="col-sm-6 hidden-xs">
								<address>
									<strong> AREVIA USA </strong>
									<p> 5724 Saint Albans Way </p>
									<p> Baltimore, MD 21212  </p>
									<p><abbr title="Téléphone">Tel :</abbr> (+1) 443-608-4548 </p>
									<p><abbr title="E-mail">@ :</abbr><a href="mailto:arevia@orange.fr"> arevia@orange.fr </a></p>
								</address>
							</div><!-- class col-sm-6 hidden-xs -->

							<!-- XSmall Screens -->
							<div class="col-xs-12 text-center visible-xs">
								<address>
									<strong> AREVIA USA </strong>
									<p> 5724 Saint Albans Way </p>
									<p> Baltimore, MD 21212  </p>
									<p><abbr title="Téléphone">Tel :</abbr> (+1) 443-608-4548 </p>
									<p><abbr title="E-mail">@ :</abbr><a href="mailto:arevia@orange.fr"> arevia@orange.fr </a></p>
								</address>
							</div><!-- class col-xs-12 text-center visible-xs -->

						</div><!-- class media-body text-left -->
					</div><!-- class col-md-7 col-xs-12 noPadding address -->	

					<div class="col-md-5 col-xs-12 noPadding" ng-hide="loading">
						<form name="contactForm" ng-submit="contactForm.$valid && sendEmail(mail)" novalidate>

							<div class="row">

								<!-- Firstname -->
								<div class="col-sm-6">
									<div class="form-group has-feedback" ng-class="{'has-success': contactForm.firstname.$valid, 'has-error': !contactForm.firstname.$valid && contactForm.firstname.$dirty}">
										<label class="control-label sr-only" for="firstname"> Firstname </label>
										<div class="input-group">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-hand-right"></span>
											</span>
											<input type="text" class="form-control" ng-model="mail.firstname" name="firstname" id="Prénom" placeholder="Firstname..." ng-minlength="2" ng-maxlength="60" aria-describedby="firstnameStatus" required>
										</div><!-- class input-group -->
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="contactForm.firstname.$valid" aria-hidden="true"></span>
										<span id="firstnameStatus" class="sr-only">(success)</span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!contactForm.firstname.$valid && contactForm.firstname.$dirty" aria-hidden="true"></span>
										<span id="firstnameStatus" class="sr-only">(warning)</span>
										<span class="validationError" ng-show="contactForm.firstname.$error.minlength">* The firstname need at least 2 characters.</span>
										<span class="validationError" ng-show="contactForm.firstname.$error.maxlength">* The firstname can't be longer than 60 characters.</span>
										<span class="validationError" ng-show="contactForm.firstname.$error.required && contactForm.firstname.$dirty">* The firstname is required.</span>
									</div><!-- class form-group -->
								</div><!-- class col-sm-6 -->

								<!-- Lastname -->
								<div class="col-sm-6">
									<div class="form-group has-feedback" ng-class="{'has-success': contactForm.lastname.$valid, 'has-error': !contactForm.lastname.$valid && contactForm.lastname.$dirty}">
										<label class="control-label sr-only" for="lastname"> Lastname </label>
										<div class="input-group">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-hand-right"></span>
											</span>
											<input type="text" class="form-control" ng-model="mail.lastname" name="lastname" id="Nom" placeholder="Lastname..." ng-minlength="2" ng-maxlength="60" aria-describedby="lastnameStatus" required>
										</div><!-- class input-group -->
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="contactForm.lastname.$valid" aria-hidden="true"></span>
										<span id="lastnameStatus" class="sr-only">(success)</span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="!contactForm.lastname.$valid && contactForm.lastname.$dirty" aria-hidden="true"></span>
										<span id="lastnameStatus" class="sr-only">(warning)</span>
										<span class="validationError" ng-show="contactForm.lastname.$error.minlength">* The lastname need at least 2 characters.</span>
										<span class="validationError" ng-show="contactForm.lastname.$error.maxlength">* The lastname can't be longer than 60 characters.</span>
										<span class="validationError" ng-show="contactForm.lastname.$error.required && contactForm.lastname.$dirty">* The lastname is required.</span>
									</div><!-- class form-group -->
								</div><!-- class col-sm-6 -->

							</div><!-- class row -->

							<div class="row">

								<!-- Company -->
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label sr-only" for="company"> Company </label>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-building"></i>
											</span>
											<input type="text" class="form-control" ng-model="mail.company" name="company" id="company" placeholder="Company..." aria-describedby="companyStatus">
										</div><!-- class input-group -->
									</div><!-- class form-group -->
								</div><!-- class col-sm-6 -->

								<!-- Position -->
								<div class="col-sm-6">
									<div class="form-group">
										<label class="control-label sr-only" for="poste"> Position </label>
										<div class="input-group">
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-briefcase"></span>
											</span>
											<input type="text" class="form-control" ng-model="mail.poste" name="poste" id="poste" placeholder="Position..." aria-describedby="posteStatus">
										</div><!-- class input-group -->
									</div><!-- class form-group -->
								</div><!-- class col-sm-6 -->

							</div><!-- class row -->

							<div class="row">

								<!-- Email -->
								<div class="col-sm-12">
									<div class="form-group has-feedback" ng-class="{'has-success': contactForm.email.$valid, 'has-error': contactForm.email.$invalid && contactForm.email.$dirty}">
										<label class="control-label sr-only" for="email"> Email </label>
										<div class="input-group">
											<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
											<input type="email" class="form-control" ng-model="mail.email" name="email" id="Email" placeholder="Email..." ng-maxlength="255" aria-describedby="emailStatus" required>
										</div><!-- class input-group -->
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="contactForm.email.$valid" aria-hidden="true"></span>
										<span id="emailStatus" class="sr-only">(success)</span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="contactForm.email.$invalid && contactForm.email.$dirty" aria-hidden="true"></span>
										<span id="emailStatus" class="sr-only">(warning)</span>
										<span class="validationError" ng-show="contactForm.email.$error.required && contactForm.email.$dirty">* The email address is required.</span>
									</div><!-- class form-group -->
								</div><!-- class col-sm-12 -->

							</div><!-- class row -->

							<div class="row">

								<!-- Object -->
								<div class="col-sm-12">
									<div class="form-group">
										<label class="control-label sr-only" for="objet"> Object </label>
										<select class="form-control" ng-model="mail.object" required>
											<option value="" disabled="disable"> What is the object of your request ? </option>
											<option value="Demande d'information"> Need informations </option>
											<option value="Demande de RDV"> Request an appointment </option>
										</select>
									</div><!-- class form-group -->
								</div><!-- class col-sm-12 -->

							</div><!-- class row -->

							<div class="row">

								<!-- Message -->
								<div class="col-sm-12">
									<div class="form-group">
										<label class="control-label sr-only" for="message"> Your message </label>
										<textarea class="form-control" ng-model="mail.message" name="message" rows="6" cols="10" maxlength="3000" placeholder="Your message..." required></textarea>
									</div><!-- class form-group -->
								</div><!-- class col-sm-12 -->

							</div><!-- class row -->

							<div class="row">

								<!-- Submit -->
								<div class="col-sm-12">
									<button class="btn btn-primary center-block" type="submit"> Send </button>
								</div><!-- class col-sm-12 -->

							</div><!-- class row -->

						</form><!-- named contactForm -->
					</div><!-- class col-sm-5 noPadding -->

					<div class="col-md-5 col-xs-12 noPadding" ng-show="loading">
						<div class="col-xs-6 col-xs-offset-3 mailLoadingContainer text-center">
							<i class="loadingLogo fa fa-spin fa-spinner fa-4x"></i><img class="letterLogo img-responsive center-block" src="img/BLANC/A.png">
						</div><!-- class col-xs-6 col-xs-offset-3 mailLoadingContainer text-center -->
					</div><!-- class col-md-5 col-xs-12 noPadding -->

				</div><!-- class media -->
			</div><!-- class jumbotron sectionsContent -->
		</div><!-- class row -->
	</div><!-- class container -->
</div><!-- container-fluid text-center -->