<div class="container-fluid text-center" ng-init="display()" ng-controller="BlogCtrl">
	<div class="container">

		<div class="row" ng-show="currentUser">
			<div class="col-xs-12">
				<button type="button" class="btn btn-primary" ng-click="gestion = !gestion"> Blog Management </button>
				<div class="btn-group" role="group" ng-show="gestion">
					<button type="button" class="btn btn-default" ng-click="signOut()"> Logout </button>
 					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#addArticleModal"> Add an article </button>
				</div><!-- class btn-group -->
			</div><!-- class col-xs-12 -->
		</div><!-- class row -->
		
		<!-- Carousel Section -->
		<div class="container" id="carouselContainer">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol><!-- class carousel-indicators -->

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					
					<div class="item active">
						<img class="img-responsive" src="img/article1.jpg" alt="Article 1">
						<div class="carousel-caption">
							<h3> Article 1 </h3>
						</div><!-- class carousel-caption -->
					</div><!-- class item -->

					<div class="item">
						<img class="img-responsive" src="img/article2.jpg" alt="Article 2">
						<div class="carousel-caption">
							<h3> Article 2 </h3>
						</div><!-- class carousel-caption -->
					</div><!-- class item -->

					<div class="item">
						<img class="img-responsive" src="img/article3.jpg" alt="Article 3">
						<div class="carousel-caption">
							<h3> Article 3 </h3>
						</div><!-- class carousel-caption -->
					</div><!-- class item -->

				</div><!-- class carousel-inner -->

				<!-- Controls -->
				<a class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only"> Previous </span>
				</a><!-- class left carousel-control -->

				<a class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only"> Next </span>
				</a><!-- class right carousel-control -->

			</div><!-- class carousel slide -->
		</div><!-- class container -->

		<!-- ARTICLES PART -->
		<div class="container articleContainer">
			<p ng-show="message" class="lead well"> {{message}} </p>
			<!-- Each articles -->
			<div class="col-md-4" ng-repeat="article in articles">
				<div class="media">
					<a type="button" ng-show="currentUser" class="btn btn-link deleteButton" ng-click="OpenDeleteArticle(article)"><i class="fa fa-times-circle-o fa-2x"></i></a>
					<div class="text-center">
						<a class="thumbnail">
							<img class="img-responsive center-block fullArticleButton" ng-src="{{article.img_path}}" ng-click="fullArticle(article)">
							<div class="caption">
								<p class="text-center lead thumbnailContent"> {{article.title}} </p>
							</div><!-- class caption -->
						</a>
					</div><!-- class text-center -->
				</div><!-- class media -->
			</div><!-- class col-md-4 -->

		</div><!-- class container -->

	</div><!--class container -->
</div><!-- container-fluid text-center -->