<div class="container-fluid text-center">
	<div class="container">

		<img src="img/BLANC/A.png" class="hidden-xs hidden-sm" alt="logoBG">

		<div class="row">
			<div class="page-header lead bg bg-red">
				<h1> Profil </h1>
			</div><!-- class page-header -->
		</div><!-- class row -->

		<div class="row">

			<!-- Large & Medium Sreens -->
			<div class="col-md-3 visible-md visible-lg">
				<ul class="nav nav-pills nav-stacked well sectionsMenu text-left" role="navigation">
					<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a> Identity </a></li>
					<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a> Vocation </a></li>
					<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a> Values </a></li>
					<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a> Professional Experience </a></li>
					<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a> Formations </a></li>
					<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a> Philosophy </a></li>
				</ul><!-- class nav nav-pills nav-stacked -->
			</div><!-- class col-md-3 visible-md visible-lg -->

			<!-- Small Screen -->
			<ul class="nav nav-pills well text-left visible-sm" role="navigation">
				<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a> Identity </a></li>
				<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a> Vocation </a></li>
				<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a> Values </a></li>
				<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a> Professional Experience </a></li>
				<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a> Formations </a></li>
				<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a> Philosophy </a></li>
			</ul><!-- class nav nav-pills nav-stacked -->

			<!-- XSmall Screens -->
			<nav class="navbar navbar-default navSmallDevices visible-xs" role="navigation">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
							<span class="sr-only"> Toggle navigation </span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div><!-- class navbar-header -->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

						<ul class="nav nav-pills nav-stacked">
							<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Identity </a></li>
							<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Vocation </a></li>
							<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Values </a></li>
							<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Professional Experience </a></li>
							<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Formations </a></li>
							<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Philosophy </a></li>
						</ul><!-- class nav navbar-pills nav-stacked -->

					</div><!-- class collapse navbar-collapse -->

				</div><!-- container-fluid -->
			</nav><!-- class navbar navbar-default -->

			<div class="col-md-9 col-xs-12 jumbotron sectionsContent">			
				<!-- Identity Section -->
				<div ng-show="section == 0" class="media">
					
					<h1 class="text-left contentHeader"> Identity </h1>
					
					<!-- XSmall Screen -->
					<div class="col-xs-12 visible-xs">
						<img class="media-object img-responsive"src="img/profil.jpeg" alt="Muriel_Guillet">
					</div><!-- class col-xs-12 visible-xs -->

					<div class="col-xs-12 text-left visible-xs">
						<p> I am {{age}} years old, the happy mother of 4 children. </p>
						<p> A painter who enjoys dancing, singing, and writing. </p>
						<p> A biologist fascinated by the beauty and diversity of all life forms of living things. </p>
						<p> Woman of marketing and sales management and transversals during 15 years. </p>
						<p> Creator of the company AREVIA </p>
						<p> Consultant relational, organizational and managerial innovation. </p>
						<p> Certified coach for Coach and Team® (Vincent Lenhardt approach).  </p>
						<p> I support CEOs and their boards to deploy the trust, commitment and courage to imagine tomorrow. </p>
					</div><!-- class col-xs-12 text-left visible-xs -->

					<!-- Large, Medium & Small Screens -->
					<div class="pull-right hidden-xs">
						<img class="media-object img-responsive"src="img/profil.jpeg" alt="Muriel_Guillet">
					</div><!-- class pull-right hidden-xs -->

					<div class="media-body text-left hidden-xs">
						<p> I am {{age}} years old, the happy mother of 4 children. </p>
						<p> A painter who enjoys dancing, singing, and writing. </p>
						<p> A biologist fascinated by the beauty and diversity of all life forms of living things. </p>
						<p> Woman of marketing and sales management and transversals during 15 years. </p>
						<p> Creator of the company AREVIA </p>
						<p> Consultant relational, organizational and managerial innovation. </p>
						<p> Certified coach for Coach and Team® (Vincent Lenhardt approach).  </p>
						<p> I support CEOs and their boards to deploy the trust, commitment and courage to imagine tomorrow. </p>
					</div><!-- class media-body text-left hidden-xs -->

				</div><!-- class media -->

				<!-- Vocation Section -->
				<div ng-show="section == 1" class="media">
					<h1 class="text-left contentHeader"> Vocation </h1>

					<div class="media-body text-left">
						<p> My vocation, my reason for being. </p>
						<p> My deep conviction is for each one of us to possess remarkable talents to serve the world. </p>
						<h2><small> My business missions are : </small></h2>
						<ul>
							<li><p> to reconcile conflict. </p></li>
							<li><p> to foster commitment through rediscovery of self leadership. </p></li>
							<li><p> deploy treasures of ingenuity hiding in each of us to invent tomorrow. </p></li>
						</ul>
					</div><!-- class-media-body text-left -->
				</div><!--class media -->

				<!-- Values Section -->
				<div ng-show="section == 2" class="media">
					<h1 class="text-left contentHeader"> Values </h1>

					<div class="media-body text-left">
						<p> Values exist when we embody them...they are often revealed during challenging times. The 4 main values that guide me and that I use in my daily life and professionally are : </p>
						<p> first and foremost, <strong> faith in mankind. </strong></p>
						<p><strong> awareness confidence </strong> or confident awareness, not one without the other. </p>
						<p><strong> Courage </strong> to follow through with your convictions and to bring about change. </p>
						<p> Lastly <strong> humor </strong> and <strong> the inventiveness </strong> to be open to new possibilities. </p>
						<p>
							<blockquote> "Treat people as if they were what they ought to be and you help them to become what they are capable of being." <footer><cite title="Goethe"> Goethe </cite></footer></blockquote>
						</p>
					</div><!-- class-media-body text-left -->
				</div><!--class media -->

				<!-- PProfessional Experience Section -->
				<div ng-show="section == 3" class="media">

					<h1 class="text-left contentHeader"> Professional Experience </h1>

					<div class="media-body text-left">


						<h2><small> Coaching leaders </small></h2>

						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

							<!-- Accompanying Section -->
							<div class="panel panel-default">	

								<div class="panel-heading" role="tab" id="Accompagnement">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#0" aria-expanded="false" aria-controls="Accompanying"> Accompanying </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->

								<div id="0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Accompanying">
									<div class="panel-body">
										<p> Accompanying the executive or manager in a period of hard time or rupture :  crisis, transition or transmission, deployment of its power. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse in -->

							</div><!-- panel panel-default -->

							<!-- Board Diagnosis Conseil Section -->
							<div class="panel panel-default">

								<div class="panel-heading" role="tab" id="Diagnostic Conseil">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#1" aria-expanded="false" aria-controls="Board Diagnosis"> Board Diagnosis </a>
									</h4><!-- class panel-title -->
								</div><!-- claa panel-heading -->

								<div id="1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Board Diagnosis">
									<div class="panel-body">
										<p> Diagnosis and support for establishment of an innovation process in organizations (renewal, reorganization, repositioning). </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->

							</div><!-- class panel panel-default -->

							<!-- Support for organizations Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Accompagnement des Organisations">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#2" aria-expanded="false" aria-controls="Support for organizations"> Support for organizations	</a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Support for organizations">
									<div class="panel-body">
										<p> prevention and treatment of the risks of negative tensions (stress, conflict) and delivered positive atmosphere (mobilization around a project, shared vision); development of confidence and well-being in the business. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Teams Coaching Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Coaching d'équipes">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#3" aria-expanded="false" aria-controls="Teams Coaching"> Teams Coaching	</a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Teams Coaching">
									<div class="panel-body">
										<p> development of relational and emotional skills, regulation, collective intelligence, cohesion, co-development of a shared vision, dynamism around a common project. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Training ORT Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Formation">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#4" aria-expanded="false" aria-controls="Training ORT"> Training ORT </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Training ORT">
									<div class="panel-body">
										<p> Training <strong> ORT* </strong> model (cf. see response on team). Strengthening interpersonal skills and development of flexibility of the manager and his team to face the unknown, build tomorrow. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

						</div><!-- class panel-group -->

						<dl class="dl-horizontal">
							<dt> Since 2004 : </dt>
							<dd><p> Consultant and coach. </p></dd>
							<dt> 1999 - 2004 : </dt>
							<dd><p> Responsible Company Health Department High-Tech in time of redemption and fusion (transversal management 900 employees). </p></dd>
							<dt> 1991 - 1998 : </dt>
							<dd><p> Manager commercial South West bacteriology (Group 3000 employees). </p></dd>
							<dt> 1990 : </dt>
							<dd><p> Marketing Communication Manager (TPE, 15 employees). </p></dd>
						</dl>

					</div><!-- class-media-body text-left -->
				</div><!--class media -->

				<!-- Formations Section -->
				<div ng-show="section == 4" class="media">
					<h1 class="text-left contentHeader"> Formations </h1>

					<div class="media-body text-left">

						<ul class="nav nav-pills nav-justified">
							<li role="presentation"><a class="btn btn-link" ng-click="date = 3" ng-class="{active: date == 3}" aria-expanded="false" aria-controls="1990"> 1990 </a></li>
							<li role="presentation"><a class="btn btn-link" ng-click="date = 2" ng-class="{active: date == 2}" aria-expanded="false" aria-controls="1991-1998"> 1991 - 1998 </a></li>
							<li role="presentation"><a class="btn btn-link" ng-click="date = 1" ng-class="{active: date == 1}" aria-expanded="false" aria-controls="2004-2005"> 2004 - 2005 </a></li>
							<li role="presentation"><a class="btn btn-link" ng-click="date = 0" ng-class="{active: date == 0}" aria-expanded="false" aria-controls="2005-2008"> 2005 - 2008 </a></li>
						</ul><!-- class nav nav-pills nav-justified -->
						
						<hr>

						<div class="well" ng-show="date == 0">
							<p> Certificate in artistic media (Terre du ciel University). </p>
						</div><!-- class well -->

						<div class="well" ng-show="date == 1">
							<p> Certificate in Coach and Team (V. Leinhardt / S. Eskenazi). </p>
							<p> Master NLP (Resources). </p>
							<p> Transactional Analysis (Course 101 and organizational theory of Berne EATO). </p>
							<p> Systemic (Wittezaele, Malarevitch). </p>
							<p> Creativity (Mark Raison). </p>
							<p> Improvisation (Bernard Leblanc Halmos). </p>
						</div><!-- class well -->

						<div class="well" ng-show="date == 2">
							<p> Consultant's degree in organizational and managerial innovation. </p>
						</div><!-- class well -->

						<div class="well" ng-show="date == 3">
							<p> 3<small class="topWord">rd </small> cycle IFG marketing, communication and business information (IFG). </p>
							<p> Masters Degree in Biology / Biochemistry / Biotechnology. </p>
						</div><!-- class well -->

					</div><!-- class-media-body text-left -->
				</div><!--class media -->

				<!-- Philosophy Section -->
				<div ng-show="section == 5" class="media">
					<h1 class="text-left contentHeader"> Philosophy </h1>

					<div class="media-body text-left">

						<div class="row">
							<div class="col-md-3 col-md-offset-9">
								<h4> Inventing tomorrow </h4>
							</div><!-- class col-md-3 col-md-offset-9 -->
						</div><!-- class row -->

						<div class="row">
							<div class="col-md-4 col-md-offset-5">
								<h4> Capitalize on existing </h4>
							</div><!-- class col-md-4 col-md-offset-5 -->
						</div><!-- class row -->

						<div class="row">
							<div class="col-md-5">
								<h4> Open the field of possibilities </h4>
							</div><!-- class col-md-4 col-md-offset-5 -->
						</div><!-- class row -->

						<hr>

						<p> I coach executives and leaders in their need and desire to embody the most efficiently the values that they carry into the management principles and their actions. </p>
						<p> Give a fully live to these values and beliefs gives these men and women more consistency, and therefore more influence and power. </p>
						<p> Share them to work together better and overcome differences that make the rich teams to invent together tomorrow. </p>
					</div><!-- class-media-body text-left -->
				</div><!--class media -->

			</div><!-- class col-md-9 jumbotron sectionsContent -->

		</div><!-- class row -->

	</div><!-- class container -->
</div><!-- container-fluid text-center -->