<div class="container-fluid text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 logoContainer">
				<img class="img-responsive fadeIn" src="img/logo_arevia_blanc.png" alt="Logo">
			</div><!-- class col-md-8 col-md-offset-2 --> 
		</div><!-- class row -->

		<div class="row">
			<div class="col-md-2 col-md-offset-5 logoContainer">
				<a href="#/profil"><img class="center-block img-responsive fadeIn" src="img/etoile_blanche.png" alt="Arrow"></a>
			</div><!-- class col-md-8 col-md-offset-2 -->
		</div><!-- class col-md-12 -->
	</div><!-- class container -->
</div><!-- container-fluid text-center -->