<div class="container-fluid text-center">
	<div class="container">
		
		<img src="img/BLANC/A.png" class="hidden-xs hidden-sm" alt="logoBG">

		<div class="row">
			<div class="page-header lead bg bg-blue">
				<h1> Influences </h1>
			</div><!-- class page-header -->
		</div><!-- class row -->

		<div class="row">

			<!-- Large & Medium Sreens -->
			<div class="col-md-3 visible-md visible-lg">
				<ul class="nav nav-pills nav-stacked well sectionsMenu text-left" role="navigation">
					<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a> Coach & Team </a></li>
					<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a> NLP </a></li>
					<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a> Transactional Analysis </a></li>
					<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a> Systemics </a></li>
					<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a> Biology </a></li>
					<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a> Art </a></li>
					<li role="presentation" ng-click="section = 6" ng-class="{active: section == 6}"><a> Zen </a></li>
				</ul><!-- class nav nav-pills nav-stacked -->
			</div><!-- class col-md-3 visible-md visible-lg -->

			<!-- Small Screen -->
			<ul class="nav nav-pills well text-left visible-sm" role="navigation">
				<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a> Coach & Team </a></li>
				<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a> NLP </a></li>
				<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a> Transactional Analysis </a></li>
				<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a> Systemics </a></li>
				<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a> Biology </a></li>
				<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a> Art </a></li>
				<li role="presentation" ng-click="section = 6" ng-class="{active: section == 6}"><a> Zen </a></li>
			</ul><!-- class nav nav-pills nav-stacked -->

			<!-- XSmall Screens -->
			<nav class="navbar navbar-default navSmallDevices visible-xs" role="navigation">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
							<span class="sr-only"> Toggle navigation </span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div><!-- class navbar-header -->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

						<ul class="nav nav-pills nav-stacked">
							<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Coach & Team </a></li>
							<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> NLP </a></li>
							<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Transactional Analysis </a></li>
							<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Systemics </a></li>
							<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Biology </a></li>
							<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Art </a></li>
							<li role="presentation" ng-click="section = 6" ng-class="{active: section == 6}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Zen </a></li>
						</ul><!-- class nav navbar-pills nav-stacked -->

					</div><!-- class collapse navbar-collapse -->

				</div><!-- container-fluid -->
			</nav><!-- class navbar navbar-default -->

			<div class="col-md-9 jumbotron sectionsContent">			

				<!-- Coach & Team Section -->
				<div ng-show="section == 0" class="media">
					<h1 class="text-left contentHeader"> Coach & Team </h1>

					<div class="media-body text-left">
						<p> The Coach & Team (CT) movement was developed over thirty years ago by Vincent Lenhardt and 10 schools based on several principles: </p>
						<p> The client is considered in his/her totality (professionally, managerially, personally, physically, and emotionally). </p>
						<p> The coached person represents the organization. Each part carries the all and is shaped like it (holomorphic principle). </p>
						<p> The coach understands the world in his complex thinking (cf Morin), not in claiming to understand everything, but rather in acceptance of its ambiguities and paradoxes. </p>
						<p> He focuses on the development of the meaning, autonomy, auto-organization of people and systems in collective intelligence surrounding a shared vision. </p>
						<p> The CT coach accompanies its clients in their identity development by helping each person to construct his/her own identity without providing a one-stop solution. </p>
						<h2><small> Bibliography : </small></h2>
						<ul>
							<li>
								<p><em> Oser la confiance </em> — B. Martin, V. Lenhardt. </p>
							</li>
							<li>
								<p><em> Responsables, porteurs de sens </em> — V. Lenhardt. </p>
							</li>
							<li>
								<p><em> Le métier de coach </em> — F. Délivré. </p>
							</li>
							<li>
								<p><em> L'intelligence collective en action </em> — V. Lenhardt, P. Bernard. </p>
							</li>
						</ul>		
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- NLP Section -->
				<div ng-show="section == 1" class="media">
					<h1 class="text-left contentHeader"> NLP </h1>

					<div class="media-body text-left">
						<h2><small> NLP and its assumptions: </small></h2>
						<p> The representation of reality that we create is not actually reality. </p>
						<p> The body and mind interact, they form a system. <blockquote> "We can't not communicate." <footer><cite title="Paul Watzlawick"> Paul Watzlawick. </cite></footer></blockquote></p>
						<p> Communicating is not only speaking. Remember that verbal communication is only 7% of all communication. The silence is a message that we send or receive. </p>
						<p> What you say about an object is not the object. It is merely a description of the representation that you have made about it based on your perception of it. </p>
						<p> Each behavior underlies a positive intention. </p> 
						<p> If a part of us have an inappropriate behavior, it acts in the way to satisfy something important for us. </p>
						<p><strong> Note : </strong></p>
						<p> Accept that behind every behavior there is a positive intention does not mean that the behavior is acceptable; about the intention, it is a positive one for the person who is responsible for to the extend that it ensures the consistency of the person. The result can be hateful to others: our unconscious possesses the useful and necessary resources for change. </p>	
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Transactional Analysis Section -->
				<div ng-show="section == 2" class="media">
					<h1 class="text-left contentHeader"> Transactional Analysis </h1>

					<div class="media-body text-left">
						<p> Transactional Analysis uses a model of the ego into three parts: the ego states diagram which helps to understand how people are structured psychologically, how people operate and express their personality. </p>
						<p> It offers a theory of psychic development of the human being: the concept of life script explains how patterns of behavior in our present life which originated in our childhood, continue to grow and strengthen, to reach a goal that we set, goal that escapes most often in our consciousness. </p>
						<p> The Transactional analysis is a theory of communication: through the analysis of transactions (verbal or non-verbal exchanges between people), psychological games ... </p>
						<p> It provides a method of analyzing systems and organizations: organizational theory (TOB). </p>
						<h2><strong><small> The ego states: </small></strong></h2>
						<p> A state of ego is a coherent system of thoughts, emotions, and associated behaviors. From the standpoint of the human structure, the AT distinguishes three types of ego states. </p>
						<p> The Parent correspond to thoughts, emotions, and behaviors of a person she adopted as its own by mimicking of how their parents (or other parental figures) acted of parental or educational figures. </p>
						<p> The Adult characterizes the emotions, thoughts and behaviors that are congruent with the reality of the here and now. </p>
						<p>The Child corresponds to thoughts, emotions, and behaviors that are a revival of our own childhood. </p>
						<h2><small> Bibliography : </small></h2>
						<ul>
							<li>
								<p><em> Le manuel d'AT </em> — Stewart & Joines. </p>
							</li>
							<li>
								<p><em> Que dites vous après avoir dit bonjour </em> — E. Berne. </p>
							</li>
						</ul>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Systemics Section -->
				<div ng-show="section == 3" class="media">
					<h1 class="text-left contentHeader"> Systemics </h1>

					<div class="media-body text-left">
						<p><blockquote> “Systemic thinking is thinking of each perceived element as being part of a larger whole that gives each element sens and justifies its presence” </blockquote></p> 
						<p> A system is an ensemble of related living elements, arbitrarily limited, ranked, organized, and finalized.  </p>
						<h2><small> Bibliography : </small></h2>
						<ul>
							<li>
								<p><em> La systémique avec les mots de tous les jours </em> — F. Balta et JL. Muller. </p>
							</li>
							<li>
								<p><em> Systémique et entreprise </em> — Malarevitch. </p>
							</li>
							<li>
								<p><em> Du désir au plaisir de changer </em> — F. Kourilsky. </p>
							</li>
							<li>
								<p><em> L'homme relationnel </em> — Wittezaele. </p>
							</li>
						</ul>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Biology Section -->
				<div ng-show="section == 4" class="media">
					<h1 class="text-left contentHeader"> Biology </h1>

					<div class="media-body text-left">
						<p><blockquote> "Everything is a metaphor for everything else". </blockquote></p>
						<p> Analogies can be made between organizations and living organisms in particular on the survival functions of homeostasis or growth. </p>
						<h2><small> Bibliography : </small></h2>
						<ul>
							<li>
								<p><em> Le macroscope </em> — J. De Rosnay. </p>
							</li>
						</ul> 
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Art Section -->
				<div ng-show="section == 5" class="media">
					<h1 class="text-left contentHeader"> Art </h1>

					<div class="media-body text-left">
						<p> Art is the conscious use of skills combined with creative imagination to create a work of beauty. </p>
						<p> Adding beauty to functionality allows a more efficient and pleasant way of working. Staying connected to our deeper nature, we obtain green and sustainable changes. </p>
						<p> The creative impulse creates the movement, change, improvement, elegance and beauty. It mobilizes energies, learn to negotiate changes and invent tomorrow. </p>
						<h2><small> Bibliography : </small></h2>
						<ul>
							<li>
								<p><em> Shitao et Cézanne </em> — Charles Juliet. </p>
							</li>
							<li>
								<p><em> Lettres à un jeune poète </em> — Reiner Maria Rilke. </p>
							</li>
						</ul>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Zen Section -->
				<div ng-show="section == 6" class="media">
					<h1 class="text-left contentHeader"> Zen </h1>

					<div class="media-body text-left">
						<p> Kyudo, the way of the bow, is also called standing Zen because it invites in finding emptiness, its center, through the practice of traditional Japanese archery bow. </p>
						<h2><small> Bibliography : </small></h2>
						<ul>
							<li>
								<p><em> Kyudo: The Essence and Practice of Japanese Archery </em> — Hideharu Onuma. </p>
							</li>
							<li>
								<p><em> Le Zen dans l'art chevaleresque du tir à l'arc </em> — Eugène Herrigel. </p>
							</li>
							<li>
								<p><em> Kyudo tir à l’arc zen </em> — Taikan Jyoji. </p>
							</li>
						</ul>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

			</div><!-- class col-md-9 jumbotron sectionsContent -->

		</div><!-- class row -->

	</div><!-- class container -->
</div><!-- container-fluid text-center -->