<div class="container-fluid text-center">
	<div class="container">

		<div class="page-header lead bg bg-light_blue">
			<h1> Interventions </h1>
		</div><!-- class page-header -->

		<div class="row">

			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked well sectionsMenu text-left" role="navigation">
					<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a> Définition </a></li>
					<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a> Coaching Individuel </a></li>
					<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a><strong class="notStrong"> Team Building </strong></a></li>
					<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a> Règles d'Interventions </a></li>
					<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a> Qualités </a></li>
					<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a> Méthodologie </a></li>
				</ul><!-- class nav nav-pills nav-stacked -->
			</div><!-- class col-md-3 -->

			<div class="col-md-9 jumbotron sectionsContent">

			<!-- Définition Section -->
				<div ng-show="section == 0" class="media">
					<h1 class="lead text-left contentHeader"> Définition </h1>

					<div class="media-body text-left">
						<h2><small> De quoi parle-t-on ? </small></h2>
						<p><blockquote> "Le coaching est l'aide apportée à une personne (ou une équipe) dans une situation personnelle ou professionnelle, afin de lui permettre d'atteindre ses objectifs et de réussir sa vie professionnelle et personnelle." </blockquote></p>
						<p> C'est l'espace relationnel et temporel crée par les séances de coaching qui font émerger les solutions. </p>
						<p> La personne coachée (ou l'équipe) se présente dans sa complexité et ses paradoxes. </p>
						<p> Le coaching s'inscrit dans une démarche de progrès durable. Qu'il s'agisse d'un accompagnement individuel ou collectif (manager + équipe) il est nécessaire d'envisager la complexité du système global dans lequel l'individu ou l'équipe interagissent. </p>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->			
				
				<!-- Le Coaching Individuel Section -->
				<div ng-show="section == 1" class="media">
					<h1 class="lead text-left contentHeader"> Coaching Individuel </h1>

					<div class="media-body text-left">
						<p> Avec </strong class="notStrong"> AREVIA </strong> le coaching individuel permet au leader de se réaligner à ses valeurs et developper ainsi sa puissance. </p>
						<h2><small> Il permet de : </small></h2>
						<p> — <strong> Résoudre </strong> (conflit, stress, gestion du temps, des paradoxes). </p>
						<p> — <strong> Développer </strong> (leadership, posture, autonomie, efficacité, nouvelles aptitudes). </p>
						<p> —  Et <strong> créer </strong> un espace de recul et de ressources. </p>
						<h2><small> Exemples de contexte : </small></h2>
						<p> Prendre une nouvelle fonction. </p>
						<p> Prendre de recul pour décider. </p>
						<p> Créer son avenir, imaginer un nouveau départ... </p>
						<p> Transmettre son pouvoir. </p>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Team Building Section -->
				<div ng-show="section == 2" class="media">
					<h1 class="lead text-left contentHeader"><strong class="notStrong"> Team Building </strong></h1>

					<div class="media-body text-left">
						<p> Avec <strong class="notStrong"> AREVIA </strong> le <strong class="notStrong"> team building </strong> permet au comité de direction ou aux équipes de managers d’harmoniser leurs visions autour d’un projet partagé. </p>

						<h2><small> Méthodologie <strong class="notStrong"> ORF </strong></small></h2>
						<p><strong class="notStrong"> Modèle ORF </strong> que je pratique est un accompagnement de l'équipe à trois niveaux : </p>
						<p> Dans sa vie Opérationnelle (sa structure, son fonctionnement, ses règles...). </p>
						<p> Dans les moments de Régulation (déblocage des freins). </p>
						<p> Dans un processus de Formation: apports ponctuels pour monter en compétences. </p>
						<p> Cette méthode offre à comprendre les processus de groupe, à résoudre les difficultés relationnelles, libérer les énergies, développer une plus grande complicité. Elle favorise l'apprentissage en commun et invite à co- créer. </p>
						<h2><small> Exemples d'interventions </small></h2>
						<p> Les accompagnements sur les équipes interviennent soit pour faire face à des situations problèmes (telles que la démotivation, un turn over important, de l'agressivité croissante, le stress qui se répand, ou encore l'existence de conflits larvés) ou bien elles peuvent être engagées afin de développer l'autonomie ou la prise d'initiative d'une équipe. </p> 
						<h2><small> Exemples de demandes : </small></h2>
						<p> Développer la performance de mon équipe en favorisant la responsabilité, la coopération et l'initiative. </p> 
						<p> Accroître la cohésion de mon équipe en développant l'intelligence relationnelle (conscience, confiance, authenticité). </p> 
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Règles d'Interventions Section -->
				<div ng-show="section == 3" class="media">
					<h1 class="lead text-left contentHeader"> Règles d'Interventions </h1>

					<div class="media-body text-left">
						<p> Les règles posent le cadre, protègent à la fois le coach, le coaché et la relation, et permet ainsi le déploiement de la puissance du coach et du coaché. </p>
						<h2><small> Voici les principales : </small></h2>
						<ul>
							<li>
								<p><strong> Contrat : </strong></p> 
								<p> Le coach considère son client comme un partenaire. Il établit avec lui un accord indiquant l'objectif qu'il souhaite atteindre et le cadre d'intervention. Des ajustements pourront avoir lieu au fur et à mesure de l'avancée de l'intervention. </p>
							</li>
							<li>
								<p><strong> Processus : </strong></p>
								<p> Le coach est un expert du processus de coaching et reste maître du cadre. </p>
							</li>
							<li>
								<p><strong> Compréhension des enjeux : </strong></p>
								<p> Son rôle de partenaire requiert qu'il soit dans la position de comprendre les enjeux professionnels de son client sans toutefois être l'expert du métier de celui-ci. Le coach posera les bonnes questions, le client trouvera les réponses. </p>
							</li>
							<li>
								<p><strong> Confidentialité : </strong></p>
								<p> Le coach s'astreint au secret professionnel. </p>
							</li>
							<li>
								<p><strong> Refus de prise en charge : </strong></p>
								<p> Le coach peut refuser de prendre en charge un coaching pour des raisons propres à l'organisation, au demandeur ou à lui même. Il indique dans ce cas un de ses confrères. </p>
								<p> Il se doit de refuser d'aider le client à agir en dehors du cadre de la loi française ou si l'intervention n'assure pas le respect des personnes. </p>
							</li>
							<li>
								<p><strong> Responsabilité des décisions : </strong></p>
								<p> Le coaching est une technique de développement professionnel et personnel. </p>
								<p> Le coach laisse de ce fait la responsabilité de ses décisions au coaché. </p>
							</li>
							<li>
								<p><strong> Protection des personnes : </strong></p>
								<p> Le coach adapte son intervention dans le respect des étapes de développement du coaché. </p>
							</li>
							<li>
								<p><strong> Champ de compétences : </strong></p>
								<p> Le coach se doit d'informer le client lorsque les problèmes soulevés par l'intervention sortent du champ de ses compétences et lui recommander le cas échéant le recours à d'autres professionnels. </p>
							</li>
							<li>
								<p><strong> Protection de l'organisation : </strong></p>
								<p> Le coach est attentif au métier, usages, et cultures de l'entreprise où il intervient. Il considère le client (ou groupe de personnes) comme faisant partie d'un système global et agit dans l'intérêt de l'ensemble du système. </p>
							</li>
							<li>
								<p><strong> Restitution : </strong></p>
								<p> Le coach ne peut rendre compte de ses actions au donneur d'ordre que dans les limites établies avec le coaché. </p>
							</li>
							<li>
								<p><strong> Recours : </strong></p>
								<p> Le coach doit disposer d'un lieu de supervision et de thérapie lorsque la problématique du client le renvoie à ses difficultés professionnelles. </p>
							</li>
							<li>
								<p><strong> Formation : </strong></p>
								<p> Le coach doit être en mesure d'expliciter au client les fondements théoriques du processus d'accompagnement qu'il utilise à son égard et d'autre part, s'informer et se former aux recherches avancées dans les domaines professionnels de sa compétence. </p>
							</li>
						</ul>		
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Qualités Section -->
				<div ng-show="section == 4" class="media">
					<h1 class="lead text-left contentHeader"> Qualités </h1>

					<div class="media-body text-left">
						<h2><small> Les 3 Qualités : </small></h2>
						<ul>
							<li>
								<p><strong> L'être avant tout : </strong></p>
								<p> La qualité d'être, la sécurité ontologique, la confiance (en soi, et celle que l'on inspire), le rayonnement. </p>
							</li>
							<li>
								<p><strong> L'avoir : </strong></p>
								<p> La lucidité, la conscience de ce qui est, de là où l'on se trouve et là où se trouve son client, la compréhension des problèmes et de leurs enjeux. </p>
							</li>
							<li>
								<p><strong> Le faire : </strong></p>
								<p> Les qualités techniques, l'expérience, la pratique, le langage, les approches (PNL, AT, systémique... et surtout l'art de les conjuguer). </p>
							</li>
						</ul>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Méthodologie Section -->
				<div ng-show="section == 5" class="media">
					<h1 class="lead text-left contentHeader"> Méthodologie </h1>

					<div class="media-body text-left">
						<h2><small> Poisson ou canne à pêche ? </small></h2>
						<p> En fonction du contexte, du niveau d'urgence, du degré de développement de l'individu ou de l'équipe, de son niveau d'autonomie ou de sa maturité face à le situation : </p>
						<p> Mon intervention s'orientera soit vers un apport de poisson c'est à dire des éléments de diagnostics, des options d'action, idées, ou confrontations. </p>
						<p> Ou bien elle consistera à l'accompagner dans la constitution de sa canne à pêche, c'est à dire à développer son autonomie, élaborer ses propres décisions, valider ses propres idées, renforcer sa confiance et son estime de soi, mieux percevoir les enjeux, sortir de la confusion, identifier les priorités, sortir des paradoxes... </p>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

			</div><!-- class col-md-9 jumbotron sectionsContent -->

		</div><!-- class row -->

	</div><!-- class container -->
</div><!-- container-fluid text-center -->