<div class="container-fluid text-center">	
	<div class="container">

		<img src="img/BLANC/A.png" class="hidden-xs hidden-sm" alt="logoBG">

		<div class="row">
			<div class="page-header lead bg bg-light_blue">
				<h1> Interventions </h1>
			</div><!-- class page-header -->
		</div><!-- class row -->
		
		<div class="row">

			<!-- Large & Medium Sreens -->
			<div class="col-md-3 visible-md visible-lg">
				<ul class="nav nav-pills nav-stacked well sectionsMenu text-left" role="navigation">
					<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a> Definition </a></li>
					<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a> Individual Coaching </a></li>
					<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a><strong class="notStrong"> Team Building </strong></a></li>
					<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a> Intervention Rules </a></li>
					<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a> Qualities </a></li>
					<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a> Methodology </a></li>
				</ul><!-- class nav nav-pills nav-stacked -->
			</div><!-- class col-md-3 visible-md visible-lg -->

			<!-- Small Screen -->
			<ul class="nav nav-pills well text-left visible-sm" role="navigation">
				<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a> Definition </a></li>
				<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a> Indivual Coaching </a></li>
				<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a><strong class="notStrong"> Team Building </strong></a></li>
				<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a> Intervention Rules </a></li>
				<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a> Qualities </a></li>
				<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a> Methodology </a></li>
			</ul><!-- class nav nav-pills nav-stacked -->

			<!-- XSmall Screens -->
			<nav class="navbar navbar-default navSmallDevices visible-xs" role="navigation">
				<div class="container-fluid">

					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
							<span class="sr-only"> Toggle navigation </span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div><!-- class navbar-header -->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

						<ul class="nav nav-pills nav-stacked">
							<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Definition </a></li>
							<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Indivual Coaching </a></li>
							<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Team Building </a></li>
							<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Intervention Rules </a></li>
							<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Qualities </a></li>
							<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> Methodology </a></li>
						</ul><!-- class nav navbar-pills nav-stacked -->

					</div><!-- class collapse navbar-collapse -->

				</div><!-- container-fluid -->
			</nav><!-- class navbar navbar-default -->

			<div class="col-md-9 col-xs-12 jumbotron sectionsContent">

				<!-- Definition Section -->
				<div ng-show="section == 0" class="media">
					<h1 class="text-left contentHeader"> Definition </h1>

					<div class="media-body text-left">
						<h2><small> What are we talking about? </small></h2>
						<p><blockquote> "Coaching is the assistance given to a person (or a team) in a personal or professional situation, in order to reach its objectives and succeed his professional and personal life." </blockquote></p>
						<p> This is the relational and temporal space created by coaching sessions that make emerge solutions. </p>
						<p> The coachee (or the team) is in its complexity and paradoxes. </p>
						<p> Coaching is part of a sustainable development approach. Whether it is an individual or a group coaching (manager + team) it is necessary to consider the complexity of the overall system in which the individual or the team interact. </p>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->			
				
				<!-- Individual coaching Section -->
				<div ng-show="section == 1" class="media">
					<h1 class="text-left contentHeader"> Individual coaching </h1>

					<div class="media-body text-left">
						<p> With </strong class="notStrong"> AREVIA </strong> individual coaching allow leader to realign his values and so develop his power. </p>
						<h2><small> It allows to : </small></h2>
						<p> — <strong> Resolve </strong> (conflict, stress, time management and paradoxes). </p>
						<p> — <strong> Develop </strong> (leadership, posture, autonomy, effectiveness, new aptitudes). </p>
						<p> —  And <strong> create </strong> a space of retreat and resources. </p>
						<h2><small> Examples of context : </small></h2>
						<p> Take a new function. </p>
						<p> Take step back to decide. </p>
						<p> Create the future, imagine a fresh start ... </p>
						<p> Convey power. </p>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Team Building Section -->
				<div ng-show="section == 2" class="media">
					<h1 class="text-left contentHeader"><strong class="notStrong"> Team Building </strong></h1>

					<div class="media-body text-left">
						<p> With <strong class="notStrong"> AREVIA </strong> the <strong class="notStrong"> team building </strong> allows the executive committee or team managers to align their visions around a shared project. </p>

						<h2><small> Methodology <strong class="notStrong"> ORT </strong></small></h2>
						<p><strong class="notStrong"> ORT Model </strong> which I practice is a team coaching with three levels: </p>
						<p> In its Operational life (its structure, functioning, rules...). </p>
						<p> In moments of regulation (brake release). </p>
						<p> In a training process: punctual contributions to increase skills. </p>
						<p> This method helps to understand group processes, resolve relationship problems, decrease tensions and develop a stronger bond. It favors shared learning and welcomes co-creation. </p>
						<h2><small> Exemples of interventions : </small></h2>
						<p> Accompaniments on the teams intervene to deal with problem situations (such as lack of motivation, an important turnover, the growing aggressiveness, stress which is spreading, or the existence of simmering conflicts) or may be engaged to develop the autonomy or the initiative of a team. </p> 
						<h2><small> Examples of requests : </small></h2>
						<p> Interventions on the teams could be to deal with issues such as demotivation, significant turnover, aggressivity, stress, frozen conflicts or in order to develop confidence, autonomy, initiatives, creativity, authenticity... </p>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Intervention Rules Section -->
				<div ng-show="section == 3" class="media">
					<h1 class="text-left contentHeader"> Intervention Rules </h1>

					<div class="media-body text-left">
						<p> The rules raise the frame, protect both the coach, the coachee and the relationship, and allows the deployement of the coach and the coachee power. </p>
						<h2><small> Here are the main : </small></h2>
						
						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

							<!-- Contract Section -->
							<div class="panel panel-default">	

								<div class="panel-heading" role="tab" id="Contract">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#0" aria-expanded="false" aria-controls="Contract"> Contract </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->

								<div id="0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Contract">
									<div class="panel-body">
										<p> The coach looks at his client as a partner. It establishes with him an agreement stating the objective he wants to achieve and the context of intervention. Adjustments may be held as the progress of the intervention. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse in -->

							</div><!-- panel panel-default -->

							<!-- Process Section -->
							<div class="panel panel-default">

								<div class="panel-heading" role="tab" id="Process">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#1" aria-expanded="false" aria-controls="Process"> Process </a>
									</h4><!-- class panel-title -->
								</div><!-- claa panel-heading -->

								<div id="1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Process">
									<div class="panel-body">
										<p> The coach is an expert in the coaching process. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->

							</div><!-- class panel panel-default -->

							<!-- Understanding of stakes Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Understanding of stakes">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#2" aria-expanded="false" aria-controls="Understanding of stakes"> Understanding of stakes	</a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Understanding of stakes">
									<div class="panel-body">
										<p> His partner role requires to understand the business challenges of its customers without being an expert in the job of its client. The coach will ask the right questions, the client will find the answers. The client has the entire responsibility of the decisions made. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Confidentiality Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Confidentiality">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#3" aria-expanded="false" aria-controls="Confidentiality"> Confidentiality	</a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Confidentiality">
									<div class="panel-body">
										<p> The coach is bound by professional secrecy. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Refusal of care Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Refusal of care">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#4" aria-expanded="false" aria-controls="Refusal of care"> Refusal of care </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Refusal of care">
									<div class="panel-body">
										<p> The coach may refuse to take over coaching for organization-specific reasons, to the applicant or to himself. He asks in this case one of his colleagues. </p>
										<p> Coach must refuse to help the client to act outside of the country laws or if the intervention does not ensure respect for people. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Responsibility for decisions Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Responsibility for decisions">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#5" aria-expanded="false" aria-controls="Responsibility for decisions"> Responsibility for decisions </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Responsibility for decisions">
									<div class="panel-body">
										<p> Coaching is a professional and personal technical development. The coach give to the coachee the responsability to decide. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Personal Protection Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Personal Protection">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#6" aria-expanded="false" aria-controls="Personal Protection"> Personal Protection </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Personal Protection">
									<div class="panel-body">
										<p> The coach adapts its interventions in respect of the stages of development of his client. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Field of practice Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Field of practice">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#7" aria-expanded="false" aria-controls="Field of practice"> Field of practice </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Field of practice">
									<div class="panel-body">
										<p> The coach must inform the client when the issues raised by the intervention are beyond his capacities and recommend the appropriate use of other professionals. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Protection of the organization Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Protection of the organization">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#8" aria-expanded="false" aria-controls="Protection of the organization"> Protection of the organization </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Protection of the organization">
									<div class="panel-body">
										<p> The coach is attentive to the job, customs, and cultures of the company which he is working with. He considers the customer (or group of people) as part of an overall system and acts in the interests of the entire system. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Restitution Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Restitution">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#9" aria-expanded="false" aria-controls="Restitution"> Restitution </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Restitution">
									<div class="panel-body">
										<p> The coach can account for its actions to the client only within the limits established with the coachee. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Remedy Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Remedy">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#10" aria-expanded="false" aria-controls="Remedy"> Remedy </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Remedy">
									<div class="panel-body">
										<p> The coach must have a place of supervision and therapy when the client’s issue brings back the coach’s professional difficulties. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Training Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Training">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#11" aria-expanded="false" aria-controls="Training"> Training </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Training">
									<div class="panel-body">
										<p> The coach must be able to explain to the client the theoretical foundations of the accompanying processes used and secondly he must informs and train himself to advanced research in professional fields of its competence. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->
							
						</div><!-- class panel-group -->
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Qualities Section -->
				<div ng-show="section == 4" class="media">
					<h1 class="text-left contentHeader"> Qualities </h1>

					<div class="media-body text-left">
						<h2><small> 3 Qualities : </small></h2>
						<ul>
							<li>
								<p><strong> The being above all : </strong></p>
								<p> The quality of being, ontological security, confidence (in itself and the one we inspire), the radiation. </p>
							</li>
							<li>
								<p><strong> To have : </strong></p>
								<p> Lucidity, awareness of what is, of where you are and where is the client, understanding the problems and their stakes. </p>
							</li>
							<li>
								<p><strong> To do : </strong></p>
								<p> The technical qualities, experience, practice, language, approaches (NLP, AT, systemic ... and especially the art of combining them). </p>
							</li>
						</ul>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

				<!-- Methodology Section -->
				<div ng-show="section == 5" class="media">
					<h1 class="text-left contentHeader"> Methodology </h1>

					<div class="media-body text-left">
						<h2><small> Fish or fishing rod? </small></h2>
						<p> It’s depending on the context, the urgency, the degree of development of the individual or the team, its level of autonomy or maturity to face the situation : </p>
						<p> My intervention will orient either towards a supply of fish, which means diagnostic elements, action options, ideas, or confrontations. </p>
						<p> Or it will be to accompany the constitution of the fishing rod, which means to develop their autonomy, develop its own decisions, validate their own ideas, strengthen their confidence and self-esteem, better perceive the stakes , get out of confusion, identify priorities, get out of the paradoxes... </p>
					</div><!-- class media-body text-left -->
				</div><!-- class media -->

			</div><!-- class col-md-9 col-xs-12 jumbotron sectionsContent -->

		</div><!-- class row -->

	</div><!-- class container -->
</div><!-- container-fluid text-center -->