<div class="container-fluid text-center" ng-controller="NewsletterCtrl">
	<div class="container">

		<div class="row">
			<div class="page-header lead">
				<h1> Vous ne serez plus informé des nouveaux articles d'Arevia Coaching, êtes-vous sûr ? </h1>
			</div><!-- class page-header -->
			<div class="col-xs-12">
				<div class="btn-group" role="group">
 					<button type="button" class="btn btn-default" ng-click="outNewsletter()"> Oui </button>
 					<a type="button" class="btn btn-default" href="#/"> Non </a>
 				</div><!-- class btn-group -->
			</div><!-- class col-xs-12 -->
		</div><!-- class row -->
		
	</div><!-- class container -->
</div><!-- container-fluid text-center -->