<div class="container-fluid text-center">
	<div class="container">

		<div class="page-header lead bg bg-red">
			<h1> Profil </h1>
		</div><!-- class page-header -->

		<div class="row">

			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked well sectionsMenu text-left" role="navigation">
					<li role="presentation" ng-click="section = 0" ng-class="{active: section == 0}"><a> Identité </a></li>
					<li role="presentation" ng-click="section = 1" ng-class="{active: section == 1}"><a> Vocation </a></li>
					<li role="presentation" ng-click="section = 2" ng-class="{active: section == 2}"><a> Valeurs </a></li>
					<li role="presentation" ng-click="section = 3" ng-class="{active: section == 3}"><a> Parcours Entreprise </a></li>
					<li role="presentation" ng-click="section = 4" ng-class="{active: section == 4}"><a> Formation </a></li>
					<li role="presentation" ng-click="section = 5" ng-class="{active: section == 5}"><a> Philosophie </a></li>
				</ul><!-- class nav nav-pills nav-stacked -->
			</div><!-- class col-md-3 -->

			<div class="col-md-9 jumbotron sectionsContent">			
				<!-- Identité Section -->
				<div ng-show="section == 0" class="media">
					<h1 class="lead text-left contentHeader"> Identité </h1>
					<div class="pull-right">
						<img class="media-object img-responsive"src="img/profil.jpeg" alt="Muriel_Guillet">
					</div>
					<div class="media-body text-left">
						<p> Née le 10 Août 1964, l'heureuse maman de 4 enfants. </p>
						<p> Artiste peintre, aimant aussi danser, chanter et écrire. </p>
						<p> Biologiste fascinée par la beauté et la diversité des formes de vie. </p>
						<p> Femme de marketing et de management commercial puis transversal durant 15 années. </p>
						<p> La créatrice du cabinet AREVIA. </p>
						<p> Consultante en innovation relationnelle, organisationnelle et managériale. </p>
						<p> Coach certifiée Coach and Team® (approche Vincent Lenhardt). </p>
						<p> J'accompagne les dirigeants et leurs équipes pour déployer la confiance, l'engagement et l'audace d'inventer demain. </p>
					</div><!-- class-media-body text-left -->
				</div><!-- class media -->

				<!-- Vocation Section -->
				<div ng-show="section == 1" class="media">
					<h1 class="lead text-left contentHeader"> Vocation </h1>

					<div class="media-body text-left">
						<p> Ma vocation, ma raison d'être. </p>
						<p> Ma conviction profonde est que chacun d'entre nous possède des talents exceptionnels à mettre au service du monde. </p>
						<h2><small> Mes missions en entreprise sont : </small></h2>
						<ul>
							<li><p> de réconcilier ce qui semble être en conflit (hommes, enjeux). </p></li>
							<li><p> de susciter l'engagement par le sens retrouvé. </p></li>
							<li><p> de déployer les trésors d'ingéniosité qui se cachent en chacun de nous pour inventer demain. </p></li>
						</ul>
					</div><!-- class-media-body text-left -->
				</div><!--class media -->

				<!-- Valeurs Section -->
				<div ng-show="section == 2" class="media">
					<h1 class="lead text-left contentHeader"> Valeurs </h1>

					<div class="media-body text-left">
						<p> Les valeurs existent lorsque nous les incarnons... elles se révèlent souvent dans les épreuves. Les 4 valeurs principales qui me portent et que je mets au service de ma vie, de mon métier... </p>
						<p> La première de toutes... <strong>La foi en l'homme</strong>... </p>
						<p> <strong>La confiance lucide</strong> ou la lucidité confiante... l'une n'allant pas sans l'autre. </p>
						<p> <strong>Le courage</strong> d'aller au bout de ses convictions et d'entraîner le changement. </p>
						<p> Enfin... <strong>l'humour</strong> et <strong>la créativité</strong> pour ouvrir sur de nouveaux possibles. </p>
						<p>
							<blockquote> "Comportez vous envers les gens comme s'ils étaient ce qu'ils devraient être et vous les aiderez à devenir ce qu'ils sont." <footer><cite title="Goethe"> Goethe </cite></footer></blockquote>
						</p>
					</div><!-- class-media-body text-left -->
				</div><!--class media -->

				<!-- Parcours Entrprise Section -->
				<div ng-show="section == 3" class="media">

					<h1 class="lead text-left contentHeader"> Parcours entreprise </h1>

					<div class="media-body text-left">


						<h2><small> Coaching de leaders </small></h2>

						<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

							<!-- Accompagnement Section -->
							<div class="panel panel-default">	

								<div class="panel-heading" role="tab" id="Accompagnement">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#0" aria-expanded="false" aria-controls="Accompagnement"> Accompagnement </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->

								<div id="0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Accompagnement">
									<div class="panel-body">
										<p> Accompagnement du cadre ou dirigeant en période de rupture : prise de fonction, de crise, de transition ou de transmission, déploiement de sa puissance. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse in -->

							</div><!-- panel panel-default -->

							<!-- Diagnostic Conseil Section -->
							<div class="panel panel-default">

								<div class="panel-heading" role="tab" id="Diagnostic Conseil">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#1" aria-expanded="false" aria-controls="Diagnostic Conseil"> Diagnostic Conseil </a>
									</h4><!-- class panel-title -->
								</div><!-- claa panel-heading -->

								<div id="1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Diagnostic Conseil">
									<div class="panel-body">
										<p> Diagnostic et aide à la mise en place d'un processus d'innovation au sein des organisations (renouvellement, réorganisation, repositionnement). </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->

							</div><!-- class panel panel-default -->

							<!-- Accompagnement des Organisations Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Accompagnement des Organisations">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#2" aria-expanded="false" aria-controls="Accompagnement des Organisations"> Accompagnement des Organisations	</a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Accompagnement des Organisations">
									<div class="panel-body">
										<p> Prévention et traitement des risques de tension négative (stress, conflits) et remise en tension positive (mobilisation autour d'un projet, vision partagée) ; développement de la confiance et du bien-être dans l'entreprise. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Coaching d'équipes Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Coaching d'équipes">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#3" aria-expanded="false" aria-controls="Coaching d'équipes"> Coaching d'équipes	</a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Coaching d'équipes">
									<div class="panel-body">
										<p> Développement des compétences relationnelles et émotionnelles, régulation, mise en intelligence collective, cohésion, co-élaboration d'une vision partagée, dynamisation autour d'un projet commun. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

							<!-- Formation Section -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="Formation">
									<h4 class="panel-title">
										<a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#4" aria-expanded="false" aria-controls="Formation"> Formation </a>
									</h4><!-- class panel-title -->
								</div><!-- class panel-heading -->
								<div id="4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Formation">
									<div class="panel-body">
										<p> Formation sur le modèle <strong> ORF* </strong> (cf. intervention sur les équipe). Renforcement des compétences relationnelles et développement de la flexibilité  du manager et de son équipe, afin de faire face à l'inconnu et d'inventer l'avenir. </p>
									</div><!-- class panel-body -->
								</div><!-- class panel-collapse collapse -->
							</div><!-- class panel panel-default -->

						</div><!-- class panel-group -->

						<dl class="dl-horizontal">
							<dt> Depuis 2004: </dt>
							<dd><p> Consultante et coach. </p></dd>
							<dt> 1999 - 2004: </dt>
							<dd><p> Responsable département santé société High-Tech en période de rachat et de fusion (management transversal 900 salariés). </p></dd>
							<dt> 1991 - 1998: </dt>
							<dd><p> Responsable commercial Sud-Ouest bactériologie (groupe 3000 salariés). </p></dd>
							<dt> 1990: </dt>
							<dd><p> Responsable marketing communication (TPE, 15 salariés). </p></dd>
						</dl>

					</div><!-- class-media-body text-left -->
				</div><!--class media -->

				<!-- Formations Section -->
				<div ng-show="section == 4" class="media">
					<h1 class="lead text-left contentHeader"> Formations </h1>

					<div class="media-body text-left">

						<ul class="nav nav-pills nav-justified">
							<li role="presentation"><a class="btn btn-link" ng-click="date = 3" ng-class="{active: date == 3}" aria-expanded="false" aria-controls="1990"> 1990 </a></li>
							<li role="presentation"><a class="btn btn-link" ng-click="date = 2" ng-class="{active: date == 2}" aria-expanded="false" aria-controls="1991-1998"> 1991 - 1998 </a></li>
							<li role="presentation"><a class="btn btn-link" ng-click="date = 1" ng-class="{active: date == 1}" aria-expanded="false" aria-controls="2004-2005"> 2004 - 2005 </a></li>
							<li role="presentation"><a class="btn btn-link" ng-click="date = 0" ng-class="{active: date == 0}" aria-expanded="false" aria-controls="2005-2008"> 2005 - 2008 </a></li>
						</ul><!-- class nav nav-pills nav-justified -->
						
						<hr>

						<div class="well" ng-show="date == 0">
							<p> Certificat média-artistiques (Université Terre du ciel). </p>
						</div><!-- class well -->

						<div class="well" ng-show="date == 1">
							<p> Certification Coach & Team (V. Leinhardt / S. Eskenazi). </p>
							<p> Master PNL (Ressources). </p>
							<p> Analyse transactionnelle (Cours 101 et théorie organisationnelle de Berne EATO). </p>
							<p> Systémique (Wittezaele, Malarevitch). </p>
							<p> Créativité (Mark Raison). </p>
							<p> Improvisation (Bernard Leblanc Halmos). </p>
						</div><!-- class well -->

						<div class="well" ng-show="date == 2">
							<p> Diplôme de consultant en innovation organisationnelle et manageriale. </p>
						</div><!-- class well -->

						<div class="well" ng-show="date == 3">
							<p> 3<small class="topWord">ème</small> cycle IFG marketing, communication et information commerciale (IFG). </p>
							<p> Maîtrise en Biologie / Biochimie / Biotechnologies. </p>
						</div><!-- class well -->

					</div><!-- class-media-body text-left -->
				</div><!--class media -->

				<!-- Philosophie Section -->
				<div ng-show="section == 5" class="media">
					<h1 class="lead text-left contentHeader"> Philosophie </h1>

					<div class="media-body text-left">
							
						<div class="row">
							<div class="col-md-3 col-md-offset-9">
								<h4> Inventer demain </h4>
							</div><!-- class col-md-3 col-md-offset-9 -->
						</div><!-- class row -->

						<div class="row">
							<div class="col-md-4 col-md-offset-5">
								<h4> Capitaliser sur l'existant </h4>
							</div><!-- class col-md-4 col-md-offset-5 -->
						</div><!-- class row -->

						<div class="row">
							<div class="col-md-5">
								<h4> Ouvrir le champ des possibles </h4>
							</div><!-- class col-md-4 col-md-offset-5 -->
						</div><!-- class row -->

						<hr>

						<p> J'accompagne les cadres et les dirigeants dans leur besoin et leur volonté d'incarner le plus efficacement les valeurs qu'ils portent jusque dans les principes de management et dans leurs actes. </p>
						<p> Faire vivre pleinement ces valeurs et convictions donne à ces hommes et femmes davantage de cohérence, et donc plus de rayonnement et de puissance. </p>
						<p> Faire partager celles-ci permet de mieux travailler ensemble et de dépasser les différences qui font la richesse des équipes pour inventer ensemble demain. </p>
					</div><!-- class-media-body text-left -->
				</div><!--class media -->

			</div><!-- class col-md-9 jumbotron sectionsContent -->

		</div><!-- class row -->

	</div><!-- class container -->
</div><!-- container-fluid text-center -->